{% extends 'findafountain/base.html' %}
{% load staticfiles %}

{% block titleblock %}About{% endblock %}
{% block content %}

<div class="body">
		<b>Find a Fountain is a group project by the Thirsty Pythons for the Internet
		Technology course at the University of Glasgow</b>

		<div class = "lefttop">
			<b>Lauren</b>
			<p><img src= "{% static 'img/fountain4.jpg' %}" alt="Image of a water fountain" height="350" width="500"/></p>
		</div>

		<div class = "leftbottom">
			<b>Jemma</b>
			<p><img src= "{% static 'img/fountain7.jpg' %}" alt="Image of a water fountain" height="300" width="500"/></p>
		</div>

		<div class = "righttop">
			<b>Giedre</b>
			<p><img src= "{% static 'img/fountain12.jpg' %}" alt="Image of a water fountain" height="300" width="500"/></p>
		</div>

		<div class = "rightbottom">
			<b>Deb</b>
			<p><img src= "{% static 'img/housesteads.png' %}" alt="Image of a water fountain" height="300" width="500"/></p>
			<p>Interests in Roman Britain, Archaeology, Classics, UX/UI, </p>
			<p>Cognitive Science, VR, and AR. Currently developing a multisensory experience in VR.</p>
		</div>	
</div>
{% endblock %}
