{% extends 'findafountain/base.html' %}
{% load staticfiles %}

{% block titleblock %}Home{% endblock %}

{% block title %}
	<h1>Find a Fountain</h1>
	<p><b>Created by The Thirsty Pythons</b></p>
{% endblock %}

{% block content %}

<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<script type="text/javascript" src="{% static 'js/fountain.js' %}"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

<style>
  #map {
		   width: 100%;
		   height: 100%;
		}
</style>

<div class = "container-fluid"> 

	<div class = "row">

		<div class = "col-sm">

			<br/> <h2><b>{{fountain.name}}</b></h2> 
			<img width=300 height="auto" src='{{ MEDIA_URL}}{{fountain.image}}'/><br/> 
	 		<hr>

	 		{% if ratings %}
	 		<b> Rating: </b>

			 <div id ="rating" style="font-size:1.5em; color: gold "> 

					<script type="text/javascript"> 

							var rating = 0; 

							{% for rating in ratings %}

							rating = rating + {{rating.points}};

							{% endfor %}

							rating = rating / {{ratings|length}};

							printRating(rating);

					</script>

			</div>

			{% else %}
					There aren't any ratings yet. <br/>
			{% endif %}

				Reviews: {{reviews|length}}  

				<br/>

				<hr> {{fountain.description}} <br/> <hr>
				<b>Building: </b>{{fountain.building}} <br/>
				<b>Floor: </b>{{fountain.floor}} <br/>
				<b>Broken: </b>

				{% if fountain.broken %}
				Yes 
				{% else %}
				No
				{% endif %}

				<br/><br/>

		</div>

		<div class="col-6" style="border: 1px solid white;">

			<br/> 
			<div id="map">
				 <script>
				 
 					window.onload = function() {
 						initMap(); 
 						loadLocation({{fountain.lat}}, {{fountain.lng}});
 					}

				</script>

				<script async defer
					src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALaN1AQdFvEnlLyNLdHUmYKSjX5C82B4I&callback=initMap">
				</script>

			</div><br/> 

		</div>
		
		<div class = "col-sm2" style="max-width: 400px; padding:20px; border: 1px solid white;" >

			<h2><b>Reviews</b></h2><hr>
			
			<div style="max-height: 300px; width: 370px; background: white; overflow:auto; padding: 15px; border: 1px solid gainsboro;" >

					{% if reviews %}
						{% for review in reviews %}

						<img width='75' src='{{MEDIA_URL}}{{review.user.picture}}' align="left" style="padding: 0 10px 0 0px"/>
						<div style="text-align:left"> 
							<b> "{{review.title}}" </b> <br/>
							<b> {{review.user}}</b>, 
							<font style ="color:gray"> {{review.datetime}}</font>
							{{review.text}}<br/><hr>
						</div>

						{% endfor %}
					{% else %}
						This fountain has no reviews. <hr>
					{% endif %}

			</div>

			<hr> 

			<div class = "col-sm2">

				{% if user.is_authenticated %}

					<h2><b>Leave a review</b></h2>

					<form id="review" method="post" enctype="multipart/form-data">
						 
						<div align=center>
							{% csrf_token %}
							<b> {{ review_form.as_p }} </b>
						</div>

						<button type="submit" name="reviewform" class="btn-custom" style= "width: 250px" alt="Submit a review">
								<b>	Submit a review </b>
						</button>

					</form><br/>

					<form id="rate" method="post">

						<button type="submit" name="ratingform" style= "width: 138px" class="btn-custom" alt="Submit a rating">
							Rate
						</button> 
					
							{% csrf_token %}
							{{ rating_form }}

					</form>

					<br/>

				{% else %}

					You need to be <a href = "{% url 'register' %}" >logged in</a> in order to submit a review or rate a fountain. 

					<br/>
					<br/>

				{% endif %}

				{% if fountain.broken %}

					<form method="post">
						<button id="BrokenFountainForm" type="submit" name="broken" style= "margin: 7.5px 0 0 0; width: 250px" class="btn-custom-green" alt="Report fixed" value = "False">

						<b>	Report this fountain as fixed</b>
						</button>

							{% csrf_token %}
							{{ BrokenFountainForm }}

					</form>

				{% else %} 

					<form method="post">
						<button id ="BrokenFountainForm" type="submit" name="broken" style= "margin: 0 0 7.5px 0; width: 250px" class="btn-custom-red" alt="Report broken" value = "True">
						<b>	Report a broken fountain</b>
						</button>

						{% csrf_token %}
						{{ BrokenFountainForm }}

					</form>
					
				{% endif %}

			</div>

		</div>

	</div>

</div>

{% endblock %}