{% extends 'findafountain/base.html' %}
{% load staticfiles %}

{% block titleblock %}Home{% endblock %}

{% block content %}
	<h3><b>Basic HTML Stuff To put into Find a FOUNTAIN app.
	I'm just writing things into this block to make it stretch out.
	Rubber baby buggy bumper.
	Peter Piper picked a peck of pickled peppers. 
	Red leather, yellow leather</b></h3>


	<img src= "{% static 'img/fountain4.jpg' %}" alt="Image of a water fountain" height="350" width="500"/>
	<img src= "{% static 'img/fountain7.jpg' %}" alt="Image of a water fountain" height="350" width="500"/>
	<img src= "{% static 'img/fountain8.jpg' %}" alt="Image of a water fountain" height="350" width="300"/>
	<img src= "{% static 'img/fountain10.jpg' %}" alt="Image of a water fountain" height="350" width="250"/>
	<img src= "{% static 'img/fountain12.jpg' %}" alt="Image of a water fountain" height="300" width="500"/>
	<img src= "{% static 'img/fountain13.jpg' %}" alt="Image of a water fountain" height="300" width="500"/>
	<img src= "{% static 'img/housesteads.png' %}" alt="Image of a water fountain" height="300" width="500"/>




<div class="twitter">
	<a class="twitter-timeline" data-width="300" data-height="600" href="https://twitter.com/fountain_finder?ref_src=twsrc%5Etfw">Tweets by fountain_finder</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

{% endblock %}