{% extends 'findafountain/base.html' %}
{% load staticfiles %}

{% block titleblock %}Home{% endblock %}

{% block title %}
	<h1>Find a Fountain</h1>
	<p><b>Created by The Thirsty Pythons</b></p>
{% endblock %}

{% block content %}

<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>

<style>
	 #map {
		   width: 100%;
		   height: 100%;
		 }
</style>

<div class = "container-fluid">

	<div class = "row">

		<div class = "col-sm">

		{% if user.is_authenticated %}
			<h3><b>Welcome Back {{ user.username }}!<br/>
			Submit a Fountain <a href = "{% url 'submit' %}" >Here</a></b></h3>
		{% else %}
			<h3><b> Sign Up <a href = "{% url 'register' %}" >Here</a> to Submit a Review</b></h3><hr>
		{% endif %}

			<h2><b>Recent Activity</b></h2><hr>
		
			<div style="max-height: 550px; overflow:auto; padding: 15px; border: 1px solid gainsboro;">

					{% for item in activity %}
				
					<img width='75' src='{{MEDIA_URL}}{{item.user.picture}}' align="left" style="padding: 0 10px 0 0px"/>

						<div style="text-align:left"> 

							{% if item.title %}

								<b> {{item.user}}</b> reviewed the <a href ='/fountain/{{item.fountain.id}}'>{{item.fountain.name}}</a> fountain in the {{item.fountain.building}}<br/>
							
								<div style ="color:gray"> 
									{{item.datetime}}<br/>
								</div>

								<b> "{{item.title}}" </b> <br/>
								{{item.text}}

							{% else %} 

								<b> {{item.user}}</b> rated the <a href ='/fountain/{{item.fountain.id}}'>{{item.fountain.name}}</a> fountain in the {{item.fountain.building}}<br/>

								<div style ="color:gray"> 
									{{item.datetime}}<br/>
								</div> 

							{% endif %}

						</div>

						<hr> 

					{% endfor %}

			</div>

		</div>

		<div class="col-6">
		<br/>  	
			<button type="button" class="btn-custom" alt="Show all" align="center" onclick="showAllMarkers()">
				<b>Show all</b>
			</button> 

			<button type="button" class="btn-custom" alt="Find nearest" align="centert" onclick="findNearest()">
				<b>Show nearest<b>  
	 		</button> 

			<button type="button" class="btn-custom" alt="Search: " align="center">
				
				<b>Building: </b> 
					<select id ="Building" class ="btn-basic" onchange="sortMarkers(), enableFloor()">
						<option value="all">All</option>
						{% for fountain in buildings %}
						{% if fountain.building %}
						<option value="{{fountain.building}}">{{fountain.building}}</option>
						{% endif %}
						{% endfor %}
					</select>
				 

				<b>Floor: </b>
					<select id ="Floor" class ="btn-basic" onchange="sortMarkers()">
						<option value="all">All</option>
						{% for fountain in floors %}
						{% if fountain.floor %}
						<option value="{{fountain.floor}}">{{fountain.floor}}</option>
						{% endif %}
						{% endfor %}
					</select>
			</button> 

			<br/><br/>
			<div id="map" div style="max-height: 600px">

			  <script>

			  	var locations = [

					{% for fountain in fountains %}

					['{{fountain.name}}', {{fountain.lat}}, {{fountain.lng}}, '{{fountain.image}}', '{{fountain.description}}', {% if fountain.floor %} {{fountain.floor}} {% else %} 'n/a' {% endif %}, {{fountain.reviews}}, {{fountain.rating}}, {{fountain.numberratings}}, {{fountain.avgrating}}, {{fountain.popularity}}, {% if fountain.broken %} "Yes" {% else %} "No" {% endif %}, {% if fountain.building %} '{{fountain.building}}' {% else %} 'n/a' {% endif %}, {{fountain.id}}], 
					{% endfor %}

					];

					window.onload = function() {
						initMap(); 
						enableFloor(); 
						locateUser(); 
						loadAll();
						showGreeting();
					}

			 </script>

			<script async defer
					src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALaN1AQdFvEnlLyNLdHUmYKSjX5C82B4I&callback=initMap">
			</script>

		</div>

	</div>
		<div class = "col-sm">
		<a class="twitter-timeline" data-width="300" data-height="700" href="https://twitter.com/fountain_finder?ref_src=twsrc%5Etfw">Tweets by fountain_finder</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>

</div>

{% endblock %}