{% extends 'findafountain/base.html' %}
{% load staticfiles %}

{% block titleblock %}Map{% endblock %}
{% block content %}
<div class = "jumbotron">
	<h1><b>Map</b></h1>
</div>

<div class = "grid">

	<div class="left">
		<h3><b>Found Fountain</b></h3>
		<p><img src= "{% static 'img/fountain4.jpg' %}" alt="Image of a water fountain" height="350" width="500"/></p>
	</div>

	<div class = "center">
		<div class=map>
			<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCwXQZJtmDAIpF_ivyBSlfHcgijV5DwfYY
&q=University+of+Glasgow" allowfullscreen>
			</iframe>
		</div>
	</div>

	<div class = "right">
		<b>Recent Reviews</b>
		<img src = "{% static 'img/libraryfountain.jpg' %}" alt = "Image of Library Fountain" style ="width:300px;height:400px;">
	</div>
</div>

	

{% endblock %}