{% extends 'findafountain/base.html' %}
{% load staticfiles %}

{% block titleblock %}Submit{% endblock %}

{% block title %}
  <h1>Submit</h1>
{% endblock %}

{% block content %} 

<meta name="viewport" content="initial-scale=1.0, user-scalable=no"> 

<style>
	img {
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	}

	#map {
		   width: 100%;
		   height: 500px;
	}
</style>

<div>
	{% if user.is_authenticated %}
		<b style="font-size:25px">Please go ahead and submit your fountain.</b>

		<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
		<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>

	{% else %}
		<b style="font-size:25px">In order to submit a fountain, you're going to have to login first!</b>
		<p><b style="font-size:25px">Login<a href= "{% url 'register' %}"> Here</a></b></p>
		<div>
		<img src="{% static 'img/trevi.jpg' %}" alt="Image of the Trevi Fountain"/>
		</div>
	{% endif %}
</div>

{% endblock %}
