{% extends 'findafountain/base.html' %}
{% load staticfiles %}

{% block titleblock %}Submit{% endblock %}

{% block title %}
  <h1>Submit</h1>
{% endblock %}

{% block content %} 

<meta name="viewport" content="initial-scale=1.0, user-scalable=no"> 
<script type="text/javascript" src="{% static 'js/submit.js' %}"></script>

<div class = "container-fluid">
	<div class = "row">

		<div class = "col-left" style="border: 1px solid white;">
			{% if user.is_authenticated %}
				<b style="font-size:25px">Please go ahead and submit your fountain.</b><br />

				<b style="font-size:18px"> Drag the marker to the location of the fountain. </b><br /> 

				<form id = "fountain_form" method="post" action="{% url 'submit' %}" enctype="multipart/form-data">

				<input id="latitude" type="text" name="latitude" size="40" placeholder="Latitude" style="margin:20px 0 15px 0"><br/>
				<input id="longitude" type="text" name="longitude" size="40" placeholder="Longitude" style="margin:0 0 15px 0">
			
				{% csrf_token %}
				{{ fountain_form.as_p }}
					{% for field in fountain_form %}
				{% endfor %}

				<input type="submit" name="submit" value="Submit" />
				</form>

				<br/>

				<div>
				<img style="border: 1px solid white; width: 300px; height: 290px" src="{% static 'img/pixabay_fountain.jpg' %}" alt="Image of a fountain"/>
				</div>
		</div>

		<div id="map" div style="max-height: 750px; border: 1px solid white; width:72.53%; height: 1000px">

			  <script id="map">
				window.onload = function() {
					initMap()
				}
			  </script>

			  <!-- API key DO NOT REMOVE no matter what -->
			   <script async defer
				src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALaN1AQdFvEnlLyNLdHUmYKSjX5C82B4I&callback=initMap">
			   </script>

		</div>

		<div id = "Not logged in">
			{% else %}
				<b style="font-size:25px">In order to submit a fountain, you're going to have to login first!</b>
				<p><b style="font-size:25px">Login<a href= "{% url 'register' %}"> Here</a></b></p>
				<div>
				<img style="display:block; margin-left:auto; margin-right:auto" src="{% static 'img/trevi.jpg' %}" alt="Image of the Trevi Fountain"/>
				</div>
				{% endif %}
		</div>
	</div>	
</div>
{% endblock %}
