<!DOCTYPE html>
{% load staticfiles %}
  <html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title_block %}Find A Fountain{% endblock %}</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" src="{% static 'css/site.css' %}"

    <script src="{% static '/js/ie-emulation-modes-warning.js' %}"></script>
  </head>
  
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/waterfountain">Home</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'about' %}">About</a></li>
              <li><a href="{% url 'findafountain' %}">Find a Fountain</a></li>
                         
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="top-div">
      {% block content %}
      Basic HTML Stuff To put into Find a FOUNTAIN app.
      I'm just writing things into this block to make it stretch out.
      Rubber baby buggy bumper.
      Peter Piper picked a peck of pickled peppers. 
      Red leather, yellow leather
      {% endblock %}
    </div>

    <hr />

    <div>
      <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'findafountain' %}">Find</a></li>

      </ul>
    </div>

     <div id="google_translate_element"></div><script type="text/javascript">
      function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT}, 'google_translate_element');
      }
      </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../static/js/bootstrap.min.js"></script>
  </body>
</html>

